
{{> "header"}}
{{> "menu"}}
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Order list</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Order list
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="content-detached content-body">
                <div class="content-body">
                    <div id="wallet">
                        <div class="wallet-table-th d-none d-md-block">
                            <div class="row">
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Time</p>
                                </div>
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Type of service</p>
                                </div>
                                <div class="col-md-1 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info"> Mileage at that time</p>
                                </div>
                                 <div class="col-md-1 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info"> Status</p>
                                </div>
                                <div class="col-md-4 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Description</p>
                                </div>
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Action</p>
                                </div>
                            </div>
                        </div>
                        <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->  <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 py-1 text-center">

                                               <h9 class="mt-2 text-center text-bold-700">22:42:01 </br>Saturday, 6 May 2023</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                            <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-danger">35410 KM
                                                </h6>
                                               
                                            </div>
                                              <div class="col-md-1 col-12 py-1 text-center">
                                                <h6 class="text-info">Editing
                                                </h6>
                                               
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Nếu bạn đang tìm kiếm loại dầu nhớt xe máy tốt nhất, AutoWash sẵn sàng giúp bạn đưa ra lựa chọn phù hợp. Dưới đây là danh sách các loại dầu nhớt xe máy tốt nhất để giữ cho động cơ xe máy hay mô tô của bạn hoạt động ở hiệu suất và hiệu suất cao nhất. Ngoài ra, bạn cũng sẽ biết được thay nhớt xe máy bao nhiêu tiền nhé!.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/orders/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                               


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{> "footer"}}