
{{> "header"}}
{{> "menu"}}
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">Service list</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active">Service list
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="content-detached content-body">
                <div class="content-body">
                    <div id="wallet">
                        <div class="wallet-table-th d-none d-md-block">
                            <div class="row">
                               
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Name</p>
                                </div>
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Type of service</p>
                                </div>
                            
                                     <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info"> Recognition</p>
                                </div>
                                <div class="col-md-4 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Description</p>
                                </div>
                                <div class="col-md-2 col-12 py-1 text-center">
                                    <p class="mt-0 text-capitalize text-bold-700 text-info">Action</p>
                                </div>
                            </div>
                        </div>
                        <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                              <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">at the Store</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">
                                                <h6 class="text-danger">19.290.000 ₫

                                                </h6>
                                                <p class="text-muted mb-0 font-small-3"><del>28.990.000 ₫</del></p>
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Oil change – the grade used will depend on the manufacturer’s recommendation
New oil filter
New air filter
New spark plugs
Test/replace/top-up coolant as required.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/services/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item text-danger"
                                                    onclick="conformDelete('{{this._id}}');"><i
                                                        class="bx bx-trash me-1"></i> Delete</a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->
                        <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                              <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">at the Store</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">
                                                <h6 class="text-danger">19.290.000 ₫

                                                </h6>
                                                <p class="text-muted mb-0 font-small-3"><del>28.990.000 ₫</del></p>
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Oil change – the grade used will depend on the manufacturer’s recommendation
New oil filter
New air filter
New spark plugs
Test/replace/top-up coolant as required.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/services/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item text-danger"
                                                    onclick="conformDelete('{{this._id}}');"><i
                                                        class="bx bx-trash me-1"></i> Delete</a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->
                        <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                              <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">at the Store</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">
                                                <h6 class="text-danger">19.290.000 ₫

                                                </h6>
                                                <p class="text-muted mb-0 font-small-3"><del>28.990.000 ₫</del></p>
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Oil change – the grade used will depend on the manufacturer’s recommendation
New oil filter
New air filter
New spark plugs
Test/replace/top-up coolant as required.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/services/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item text-danger"
                                                    onclick="conformDelete('{{this._id}}');"><i
                                                        class="bx bx-trash me-1"></i> Delete</a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->
                        <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                              <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">at the Store</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">
                                                <h6 class="text-danger">19.290.000 ₫

                                                </h6>
                                                <p class="text-muted mb-0 font-small-3"><del>28.990.000 ₫</del></p>
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Oil change – the grade used will depend on the manufacturer’s recommendation
New oil filter
New air filter
New spark plugs
Test/replace/top-up coolant as required.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/services/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item text-danger"
                                                    onclick="conformDelete('{{this._id}}');"><i
                                                        class="bx bx-trash me-1"></i> Delete</a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->
                        <!-- BTC -->
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            
                                            <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">Engine checks</h9>

                                            </div>
                                              <div class="col-md-2 col-12 py-1">

                                                <h9 class="mt-2 text-center text-bold-700">at the Store</h9>

                                            </div>
                                            <div class="col-md-2 col-12 py-1 text-center">
                                                <h6 class="text-danger">19.290.000 ₫

                                                </h6>
                                                <p class="text-muted mb-0 font-small-3"><del>28.990.000 ₫</del></p>
                                            </div>
                                            <div class="col-md-4 col-12 py-1 text-sm-center">
                                                <a href="#" class=" overflow-hidden "   class="line-height-1 ">Oil change – the grade used will depend on the manufacturer’s recommendation
New oil filter
New air filter
New spark plugs
Test/replace/top-up coolant as required.</a>
                                            </div>
                                            <div class="col-md-2 col-12 py-3 text-center">
                                                <a class="dropdown-item" href="/services/update/{{this.id}}"><i
                                                        class="bx bx-edit-alt me-1"></i> Edit</a>
                                                <a class="dropdown-item text-danger"
                                                    onclick="conformDelete('{{this._id}}');"><i
                                                        class="bx bx-trash me-1"></i> Delete</a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--/ BTC -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{> "footer"}}