{{> "header"}}
{{> "menu"}}
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">User list</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">User list
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-detached content-body">
            <div class="content-body">
                <div id="wallet">
                    <div class="wallet-table-th d-none d-md-block">
                        <div class="row">
                            <div class="col-md-2 col-12 py-1 text-center">
                                <p class="mt-0 text-capitalize text-bold-700 text-info">Name</p>
                            </div>
                            <div class="col-md-3 col-12 py-1 text-center">
                                <p class="mt-0 text-capitalize text-bold-700 text-info">Gender</p>
                            </div>
                            <div class="col-md-2 col-12 py-1 text-center">
                                <p class="mt-0 text-capitalize text-bold-700 text-info">Phone number</p>
                            </div>

                            <div class="col-md-2 col-12 py-1 text-center">
                                <p class="mt-0 text-capitalize text-bold-700 text-info">Action</p>
                            </div>
                        </div>
                    </div>
                    <!-- BTC -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-md-3 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Nguyễn Văn Chung</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Male</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1  text-center">

                                            <h9 class="mt-2 text-center text-bold-700">0972283831</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">
                                            <a class="dropdown-item" href="/orders/{{this.id}}"><i
                                                    class="bx bx-edit-alt me-1"></i> Hitory vehicle care</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/ BTC --> <!-- BTC -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-md-3 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Nguyễn Văn Chung</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Male</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1  text-center">

                                            <h9 class="mt-2 text-center text-bold-700">0972283831</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">
                                            <a class="dropdown-item" href="/orders/{{this.id}}"><i
                                                    class="bx bx-edit-alt me-1"></i> Hitory vehicle care</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/ BTC --> <!-- BTC -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-md-3 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Nguyễn Văn Chung</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Male</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1  text-center">

                                            <h9 class="mt-2 text-center text-bold-700">0972283831</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">
                                            <a class="dropdown-item" href="/orders/{{this.id}}"><i
                                                    class="bx bx-edit-alt me-1"></i> Hitory vehicle care</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/ BTC --> <!-- BTC -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-md-3 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Nguyễn Văn Chung</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Male</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1  text-center">

                                            <h9 class="mt-2 text-center text-bold-700">0972283831</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">
                                            <a class="dropdown-item" href="/orders/{{this.id}}"><i
                                                    class="bx bx-edit-alt me-1"></i> Hitory vehicle care</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/ BTC --> <!-- BTC -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-md-3 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Nguyễn Văn Chung</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Male</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1  text-center">

                                            <h9 class="mt-2 text-center text-bold-700">0972283831</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">
                                            <a class="dropdown-item" href="/orders/{{this.id}}"><i
                                                    class="bx bx-edit-alt me-1"></i> Hitory vehicle care</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/ BTC --> <!-- BTC -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">

                                        <div class="col-md-3 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Nguyễn Văn Chung</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">

                                            <h9 class="mt-2 text-center text-bold-700">Male</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1  text-center">

                                            <h9 class="mt-2 text-center text-bold-700">0972283831</h9>

                                        </div>
                                        <div class="col-md-2 col-12 py-1 text-center">
                                            <a class="dropdown-item" href="/orders/{{this.id}}"><i
                                                    class="bx bx-edit-alt me-1"></i> Hitory vehicle care</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--/ BTC -->
                </div>
            </div>
        </div>

    </div>
</div>
{{> "footer"}}